.container-fluid {
  padding: 0rem;
}

.shop {
  padding-left: 3.5rem;
}

.shop .card {
  max-width: 15rem;
  margin: 0.5rem;
}

.nav {
  width: 100%;
  padding-bottom: -4rem;
  height: 4rem;
  font-size: 1.7rem;
  border-bottom: 0.1rem solid rgb(214, 214, 214);
  margin-bottom: 1rem;
  background-color: white;
}

.home {
  height: 100vh;
}

.home button {
  background-color: rgb(64, 173, 224);
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2.5rem;
}

.home a {
  color: white;
  letter-spacing: 0.2rem;
}

.home p {
  max-width: 40rem;
  margin: 3rem auto;
  letter-spacing: 0.1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap');
.home h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  font-family: 'Sansita Swashed', cursive;
}

a:hover {
  text-decoration: none;
}

.cart table {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.cart button {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 337px) {
  .nav {
    font-size: 1.2rem;
    padding-right: -3rem;
  }
  .mr-5, .mx-5 {
    margin-right: 0rem!important;
  }
}